@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Playfair+Display:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: #dbd5c9;
    color: black;
    font-family: 'Playfair Display', sans-serif;
    position: relative;
}

/* Header and subtitles */

h1,
h2 {
    font-size: 280%;
    color: black;
    text-transform: uppercase;
    letter-spacing: 0, 25rem;
}

/* Navbar & logo */

#navbar {
    position: fixed;
    background-color: #393638;
    top: 0;
    width: 100%;
    z-index: 3;
}

#logo {
    font-family: 'Amatic SC', cursive;
    color: white;
    float: left;
    margin: .25em .5em;
}

/* menu buttons */

#menu-buttons {
    float: right;
    display: flex;
    list-style-type: none;
    margin: .25em .5em;
}

#menu-buttons a {
    text-align: center;
    font-size: 150%;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.8em 0.8em;
    color: #fff;
}

#menu-buttons,
#logo {
    line-height: 50px;
}

#menu-buttons a:hover {
    color: #dbd5c9;
}

/* Hero image */

#hero-image {
    background: url(../images/dinner-table.jpg) no-repeat center center;
    opacity: .75;
    width: 100%;
    height: 900px;
    display: flex;
    position: relative;
}

/* Hero subtitle text */

#subtitle-left,
#subtitle-left h2,
#subtitle-right #subtitle-right h2 {
    color: #000;
}

#subtitle-left {
    font-size: 130%;
    font-family: 'Amatic SC', cursive;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    width: 30% auto;
    padding: 3%;
    background-color: #dbd5c9;
    opacity: 0.7;
    top: 5%;
    left: 10%;
    position: absolute;
}

#subtitle-right {
    font-size: 110%;
    font-family: 'Amatic SC', cursive;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    width: 30% auto;
    padding: 3%;
    background-color: #dbd5c9;
    opacity: 0.7;
    top: 10%;
    right: 10%;
    margin-right: 2%;
    position: absolute;
}

/* Gallery section */

.photos {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}

.photos>img {
    width: 100%;
}

/* Form section */

.form-section {
    clear: both;
    background: url(../images/wedding-flowers.jpg);
    background-size: cover;
    font-size: 180%;
    background-position: center;
    font-family: 'Amatic SC', cursive;
    color: #fff;
    height: 900px;
    padding: 3%;
    opacity: .7;
}

.git-form {
    margin: 10%;
    max-width: 50%;
    max-height: 70%;
    text-transform: uppercase;
    padding: 3% 5%;
    position: absolute;
    background-color: rgba(57,54,56,0.5)
}

.git-form>h2 {
    font-size: 120%;
    color: #fff;
}

.text-input {
    background-color: transparent;
    color: #fff;
    width: 100%;
    height: 25px;
    border: 1px solid #dbd5c9;
    border-radius: 5px;
}

input::placeholder {
    opacity: 1;
    color: #fff;
}

.text-input:hover {
    border-color: #fff;
}

.submit-button {
    border-radius: 5px;
    padding: 1% 2%;
    text-align: center;
    margin-top: 5%;
    font-size: 60%;
    background-color: #dbd5c9;
    color: black;
    display: block;
    float: right;
    opacity: 1;
}

.submit-button:hover {
    color: white;
    background-color: #393638;
}

/* footer section */

footer {
    height: 100px;
}

footer p {
    text-align: center;
    margin: 1%;
    padding: 3%;
    color: #393638;
}

#confirmed {
    text-align: center;
    padding: 20%;
    text-transform: uppercase;
}

/* media queries */

/* This is adjustments for screens smaller than 1200px wide */

@media screen and (max-width: 1200px) {
    .photos {
        column-count: 3;
    }

    #subtitle-left,
    #subtitle-right {
        font-size: 95%;
    }

    #menu-buttons a {
        font-size: 135%;
    }

    .form-section {
        font-size: 150%;
    }

    .submit-button {
        font-size: 70%;
    }
}

/* This is adjustments for screens smaller than 950px wide */

@media screen and (max-width: 950px) {
    .photos {
        column-count: 2;
    }

    #subtitle-left,
    #subtitle-right {
        font-size: 70%;
    }

    #menu-buttons a {
        font-size: 120%;
    }

    .form-section {
        font-size: 135%;
    }

    .submit-button {
        font-size: 70%;
    }
}