@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Playfair+Display:ital@1&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
    background-color: #dbd5c9;
    color: black;
    font-family: 'Playfair Display', sans-serif;
}

h1,
h2 {
    font-family: 'Amatic SC', cursive;
    font-size: 280%;
    color: black;
    text-transform: uppercase;
    letter-spacing: 4px;
}

#logo {
    float: left;
    margin: .25em .5em;
}