@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Playfair+Display:ital@1&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
    background-color: #dbd5c9;
    font-family: 'Playfair Display', sans-serif;
}